2022-07-08 09:38:54  (rev 0)
    +_libgcc_mutex-0.1 (defaults/linux-64)
    +_openmp_mutex-5.1 (defaults/linux-64)
    +ca-certificates-2022.4.26 (defaults/linux-64)
    +certifi-2022.6.15 (defaults/linux-64)
    +ld_impl_linux-64-2.38 (defaults/linux-64)
    +libffi-3.3 (defaults/linux-64)
    +libgcc-ng-11.2.0 (defaults/linux-64)
    +libgomp-11.2.0 (defaults/linux-64)
    +libstdcxx-ng-11.2.0 (defaults/linux-64)
    +ncurses-6.3 (defaults/linux-64)
    +openssl-1.1.1p (defaults/linux-64)
    +pip-21.2.4 (defaults/linux-64)
    +python-3.8.10 (defaults/linux-64)
    +readline-8.1.2 (defaults/linux-64)
    +setuptools-61.2.0 (defaults/linux-64)
    +sqlite-3.38.5 (defaults/linux-64)
    +tk-8.6.12 (defaults/linux-64)
    +wheel-0.37.1 (defaults/noarch)
    +xz-5.2.5 (defaults/linux-64)
    +zlib-1.2.12 (defaults/linux-64)

2022-08-10 14:13:48  (rev 1)
     ca-certificates  {2022.4.26 (defaults/linux-64) -> 2022.07.19 (defaults/linux-64)}
     openssl  {1.1.1p (defaults/linux-64) -> 1.1.1q (defaults/linux-64)}
    +cython-0.29.30 (defaults/linux-64)

2022-08-13 13:19:11  (rev 2)
    +asttokens-2.0.5 (defaults/noarch)
    +backcall-0.2.0 (defaults/noarch)
    +debugpy-1.5.1 (defaults/linux-64)
    +decorator-5.1.1 (defaults/noarch)
    +entrypoints-0.4 (defaults/linux-64)
    +executing-0.8.3 (defaults/noarch)
    +ipykernel-6.9.1 (defaults/linux-64)
    +ipython-8.4.0 (defaults/linux-64)
    +jedi-0.18.1 (defaults/linux-64)
    +jupyter_client-7.2.2 (defaults/linux-64)
    +jupyter_core-4.10.0 (defaults/linux-64)
    +libsodium-1.0.18 (defaults/linux-64)
    +matplotlib-inline-0.1.2 (defaults/noarch)
    +nest-asyncio-1.5.5 (defaults/linux-64)
    +parso-0.8.3 (defaults/noarch)
    +pexpect-4.8.0 (defaults/noarch)
    +pickleshare-0.7.5 (defaults/noarch)
    +prompt-toolkit-3.0.20 (defaults/noarch)
    +ptyprocess-0.7.0 (defaults/noarch)
    +pure_eval-0.2.2 (defaults/noarch)
    +pygments-2.11.2 (defaults/noarch)
    +python-dateutil-2.8.2 (defaults/noarch)
    +pyzmq-23.2.0 (defaults/linux-64)
    +six-1.16.0 (defaults/noarch)
    +stack_data-0.2.0 (defaults/noarch)
    +tornado-6.1 (defaults/linux-64)
    +traitlets-5.1.1 (defaults/noarch)
    +wcwidth-0.2.5 (defaults/noarch)
    +zeromq-4.3.4 (defaults/linux-64)

